@import '../../stylesheets/scss/vendors/variables',
        '../../stylesheets/scss/vendors/mixins';

.head {
    background: url('../images/head-bg.png') center center no-repeat;
    background-size: cover;
    height: 891px;
    h1 {
        @include font(400, 40px, $avenirNext);
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        margin: 0;
        span {
            color: #a2ca28;
        }
    }
    p.h1-p {
        margin-left: 169px;
        margin-bottom: 0;
        @include font(700, 15px, $avenirNext);
        color: #ffffff;
        text-transform: uppercase;
        span {
            color: #fd634e;
        }
    }
    .mt {
        margin-top: 690px;
    }
}
