@import '../../stylesheets/scss/vendors/variables',
        '../../stylesheets/scss/vendors/mixins';

footer {
    background: url('../images/footer-bg.png') center center no-repeat;
    background-size: cover;
    height: 724px;
    text-align: center;
    color: #ffffff;
    h2 {
        @include font(400, 45px, $oSans);
    }
    p {

    }
    .part-1 {
        background: url('../images/footer-bot-part-1.png') center center no-repeat;
        background-size: cover;
        height: 198px;
        margin-top: -98px;
    }
    .part-2 {
        background: #0d1119;
        background-size: cover;
        min-height: 800px;
        margin-top: -20px;
        text-align: left;
        input {
            width: 100%;
            border: none;
            height: 50px;
            border-radius: 2px;
            @include font(700, 15px, $myriadPro);
            color: #ffffff;
            &:focus {
                outline: none;
            }
        }
        input[type=submit] {
            background: #a2ca28 url('../images/icons/button-send.png') no-repeat 85% center;
            &:hover {
                cursor: pointer;
                box-shadow: inset 10px 10px 259px -45px rgba(0,0,0,0.75);
            }
        }
        input[type=text] {
            @include font(400, 14px, $myriadPro);
            padding-left: 20px;
            color: #83969f;
        }
        h2 {
            @include font(400, 15px, $myriadPro);
        }
        p {
            @include font(400, 14px, $oSans);
            line-height: 1.714;
            color: #8297a7;
        }
        img {
            margin-right: 3px;
        }
    }
    .mt {
        margin-top: 240px;
    }
    .footer-head {
        height: 100%;
    }
}
